<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- <add key="github" value="https://github.com/cebehat/LobbyAPI" /> -->
		<add key="github" value="https://nuget.pkg.github.com/cebehat" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="kontakt@cebt.dk" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>