<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/cebehat/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="kontakt@cebt.dk" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>